#hero {
    position: relative;

    #hero-title {
        text-align: center;
        position: absolute;
        color: #fff;
        top: 80%;
        margin: 0 20px;

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
            margin-top: 10px;
        }

        button {
            background-color: #fff;
            border: #fff;
            border-radius: 50px;
            padding: 10px 15px;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width:768px) {
    #hero {
        position: relative;

        #hero-img img {
            border-radius: 20px;
        }

        #hero-title {
            width: 45%;
            margin-left: 30px;
            top: 30%;
            

            h3 {
                font-size: 37px;
        }

        p {
            font-size: 18px;
            margin-top: 15px;
            padding-right: 30px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 40px;
            &:hover {
                background-color: #000;
                color: #fff;
                filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.485));
                transition: all 0.3s ease-in-out;
            }
        }
    }

    }
    
}

@media screen and (min-width:1200px) {
    #hero {
        #hero-title {
            width: 45%;
            margin-left: 30px;
            padding-right: 30px;
            top: 30%;
            

            h3 {
                font-size: 55px;
            }

            p {
            font-size: 20px;
            margin-top: 20px;
        }

        button {
            padding: 15px 25px;
            font-size: 18px;
            margin-top: 40px;
            &:hover {
                background-color: #000;
                color: #fff;
                filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.485));
                transition: all 0.3s ease-in-out;
            }
        }
    }
    }
    
}