@use '../abstracts/mixins';
#mob-video {
    margin: 100px 0 50px 0;
    --plyr-color-main: #6fa1a0;
}

#feature-box {
    margin: 100px 0;

    h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(100px);
    }

    #box-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .featureBox {
        margin: 30px 0;
        width: 400px;
        opacity: 0;
        transform: translateY(100px);

        img {
            margin-bottom: 20px;
            border-radius: 20px;
        }

        h4 {
            font-size: 23px;
            margin-bottom: 10px;
        }

        p {
            padding-right: 10px;
        }
    }
}

#scroll-animation {
    display: none;
}

#explode-view {
    max-width: 100%;
    margin: 100px 0;
  }

@media screen and (min-width:768px) {
    #feature-box {

        #box-con {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-bottom: 100px;
    }

    h3 {
        font-size: 40px;
    }
    }

    #mob-video {
        display: none;
    }

    #scroll-animation {
    display: block;
}
}

@media screen and (min-width:1200px) {
    #feature-box {
        #box-con {
        gap: 40px;
    }
    }
}