@use '../abstracts/mixins';

#feature-box {
    margin: 100px 0;

    h3 {
        font-size: 30px;
        text-align: center;
    }

    #box-con {
        display: flex;
        flex-direction: column;
    }

    .featureBox {
        border: 1px solid black;
        margin: 30px 0;

        img {
            background-color: pink;
            height: 100px;
            width: 100%;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width:768px) {
    #feature-box {
        #box-con {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    }
}